{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Ministerial
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121029

-->

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Vertis IT blog</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
    <link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <div id="header-wrapper">
        <div id="header">
          <div id="logo">
            <div id="vertis-logo">
              <img src="{% static 'images/header-logo-white.png' %}" alt="Vertis logo"/>
            </div>
            <h1><a href="{% url 'index' %}">IT blog</a></h1>
          </div>
          <div id="toolbar">
            <a href="/hu/set_lang/">
              <img style="float:left" src="{% static 'images/flag-hungary.png' %}" alt="hu"/>
            </a>
            <a href="/en/set_lang/">
              <img style="float:left" src="{% static 'images/flag-united-kingdom.png' %}" alt="en"/>
            </a>
            <p style="float:right">&nbsp;&nbsp;||&nbsp;&nbsp;{{ request.user }}</p>
            {% if  request.user.is_authenticated %}
              <p><a style="float:right" href="{% url 'logout' %}">{% trans 'Logout' %}</a></p>
            {% else %}
              <p><a style="float:right" href="{% url 'login' %}">{% trans 'Login' %}</a></p>
            {% endif %}
          </div>
          <div id="menu">
            <ul>
              <li><a href="{% url 'index' %}" accesskey="1" title="">{% trans 'Homepage' %}</a></li>
              <li><a href="{% static 'coverage_report' %}" accesskey="2" title="">Coverage</a></li>
              <li><a href="{% url 'register' %}" accesskey="3" title="">{% trans 'Register' %}</a></li>
              <li><a href="/api/" accesskey="4" title="">API</a></li>
              <li><a href="/admin/" accesskey="5" title="">{% trans 'Admin' %}</a></li>
              <li><a href="/rosetta/" accesskey="6" title="">Rosetta</a></li>
              <li><a href="/explorer/" accesskey="7" title="">Explorer</a></li>
            </ul>
          </div>
        </div>
      </div>

    {% block content %}
    {% endblock %}

    <div id="recent-news">
      <h2>Recent News</h2>
      <div id="rbox1">
        <p class="date">January 08, 2018</p>
        <p class="link"><a href="https://vertis.com/en/news/eua-dec18-price-fell-below-8-euro">EUA Dec18: Price fell below 8 euro</a></p>
        <p> The EUA Dec18 started the new year with a loss of 37 cents or 4.5%. The price opened with a 13 cents gap down, and despite some upward movement in the morning (daily maximum at 8.13 euro), the price fell continuously during the day. </p>
        <p class="button-style1"><a href="https://vertis.com/en/news/eua-dec18-price-fell-below-8-euro">Read More</a></p>
      </div>
      <div id="rbox2">
        <p class="date">January 04, 2018</p>
        <p><a href="https://vertis.com/en/news/vertis-becomes-regulated-investment-firm">Vertis becomes regulated investment firm</a></p>
        <p>On the 29 December 2017, Vertis Environmental Finance Ltd. received its MiFID II license from the National Bank of Hungary and therefore became an investment firm.</p>
        <p class="button-style1"><a href="https://vertis.com/en/news/vertis-becomes-regulated-investment-firm">Read More</a></p>
      </div>
      <div id="rbox3">
        <p class="date">January 03, 2018</p>
        <p><a href="https://vertis.com/en/news/euas-fall-below-8-euro">EUAs fall below 8 euro</a></p>
        <p>The benchmark contract closed the day at 7.81 euro. Profit taking from the recent rally, lower power prices and deterioration in the profitability of the coal and gas fired power plants weighed on the price. </p>
        <p class="button-style1"><a href="https://vertis.com/en/news/euas-fall-below-8-euro">Read More</a></p>
      </div>
      <div id="rbox4">
        <p class="date">December 22, 2017</p>
        <p><a href="https://vertis.com/en/news/vertis-participation-in-a-corsia-implementation-project">Vertis’ participation in a CORSIA implementation project</a></p>
        <p>Vertis Environmental Finance has participated in a project on CORSIA implementation, in collaboration with AIRBUS, Indonesia DGCA and Garuda Indonesia.</p>
        <p class="button-style1"><a href="https://vertis.com/en/news/vertis-participation-in-a-corsia-implementation-project">Read More</a></p>
      </div>
    </div>

    <div id="footer-wrapper">
      <div id="footer-content">
        <span class="font-medium">LET'S DISCUSS YOUR TRADING NEEDS!</span>
        </br>
        <a href="tel:+3614891900">+36 1 489 1900</a>
        <br/>
        <a href="mailto:trading@vertis.com">trading@vertis.com</a>
        <br/>
        <img id="footer-image" src="{% static 'images/footer-logos-new2.png' %}"/>
      </div>
    </div>
    </div>
    <div id="footer">
      <p>2018 &copy; Vertis Environmental Finance All rights reserved. Origin design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    </div>
  </body>
</html>
