{% load staticfiles %}
<html>
    <head>
        <title>Vertis blog</title>
        <link rel="icon" href="{% static 'picture/favicon.ico' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="page-header">
        <img src="{% static 'picture/header-logo-white.png' %}" alt="Vertis logo" style="float:left">
        <h1 align="center"><a href="{% url 'index' %}">Vertis blog</a></h1>
      </div>
      <div class="post">
          <tr><td><h1><a href="">{{ post.title }}</a></h1></tr></td>
          <tr><td><img class="resize" src="/{{ post.picture }}" alt="{{ post.title }} image"></tr></td>
          <tr><td><p>{{ post.text|linebreaksbr }}</p></tr></td>
          <tr><td><p class="published">published: {{ post.published_date }}</p></tr></td>
          {% for comment in comments %}
            <div class="comment">
              <tr><td><p><b>{{ comment.author }}</b></p></td></tr>
              <tr><td><p>{{ comment.content|linebreaksbr }}</p></td></tr>
              <tr><td><p class="published">last edited: {{ comment.last_updated }}</p></td></tr>
            </div>
          {% endfor %}
          <form class=comment action="{% url 'postnewcomment' post.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Send">
          </form>
      </div>
    </body>
</html>
