.post {
    padding-left: 15px;
}

h1 a {
    color: 	#c2be53;
    font-family: 'Lobster';
}
.page-header {
    background-color: #41646e;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
div {
  background-color: #e4e1b0;
}
